body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  background-color: rgb(132, 0, 0);
}

h1 {
  margin: 4px; 0;
}

.gamescreen {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 8;
  text-align: center;
  background-image: url('./imgs/mansao.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
  transition: background-image 1s ease-out;
}

.startScreen{
  position: absolute;
  height: 100vh;
  display: none;
  flex-direction: column;
  width: 100%;
  flex-grow: 8;
  text-align: center;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  color: red;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000;
  transition: background-color 2s ease-in-out;
  font-size: 5em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.title {
  background: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 800;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  Gap: 30px;
  transition: color 4s ease-in
}

#pontuacao{
  font-size: 2em;
}

.hammerContainer {
  margin-top: 2%;
  margin-bottom: 2%; 
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding-right: 20%;
  padding-left: 20%;
  position: relative;
  min-height: 300px;
  min-width: 350px;
}

.player {
  justify-content: center;
  width: 100px;
  height: 100px;
  background-image: url('./imgs/hammer_fronta.png');
  background-color: rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  align-items: flex-end;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1;
}

.hammerMap{
  position: absolute;
  flex-direction: column;
  display: flex;
  z-index: -0;
  inset: 0;
  padding-right: 20%;
  padding-left: 20%;
  justify-content: space-between;
}

.hitSpotLine{
  display: flex;
  justify-content: space-between;
}

.hitSpot{
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 23, 0.669);
  align-items: flex-end;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.btns {
  color: white;
  flex-grow: .5;
  display: flex;
  flex-flow: column;
  background-color: rgb(51, 16, 16, 0.1);
  justify-content: start;
  align-items: center;
  gap: 2em;
}

.btns-wrapper {
  display: flex;
}

@media (max-width: 732px) {
  .btns-wrapper {
    flex-direction: column;
    gap:
  }
}

fieldset{
  padding: 1em;
  border-radius: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.action-btns{
  display: flex;
  gap: 10px;
  margin-top: 1em;
}

button{
  width: 100px;
  height: 35px;
  border-radius: 10px;
  cursor: pointer;
}

button:active{
  background-color: red;
}

button:hover{
  transform: scale(1.1);
}

.startBTN{
  background: radial-gradient(rgba(248, 0, 0, 1), rgba(255, 255, 255, 0));
  font-size: 2em;
  width: 200px;
  height: 70px;
  color: rgb(84, 3, 3);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.startBTN:hover {
  color: white;
  background: radial-gradient(rgba(248, 0, 0, 1), rgba(0, 0, 0, 1));
}


@keyframes shake {
  0% {
    transform: translate(0);
  }
  10% {
    transform: translate(-5px, -5px) rotate(-5deg);
  }
  20% {
    transform: translate(5px, 5px) rotate(5deg);
  }
  30% {
    transform: translate(-5px, -5px) rotate(-5deg);
  }
  40% {
    transform: translate(5px, 5px) rotate(5deg);
  }
  50% {
    transform: translate(-5px, -5px) rotate(-5deg);
  }
  60% {
    transform: translate(5px, 5px) rotate(5deg);
  }
  70% {
    transform: translate(-5px, -5px) rotate(-5deg);
  }
  80% {
    transform: translate(5px, 5px) rotate(5deg);
  }
  90% {
    transform: translate(-5px, -5px) rotate(-5deg);
  }
  100% {
    transform: translate(0);
  }
}

.tela-tremer {
  animation: shake 0.2s;
}

.audios{
  display: none;
}

@media screen and (max-device-width: 480px){
  .player {
    width: 180px;
    height: 180px;
  }
  .hitSpot {
    width: 180px;
    height: 180px;
  }
  .hammerContainer {
    max-height: 800px;
  }
   button {
    width: 250px;
    font-size: 2.2em;
    padding: .5em 1em;
    height: fit-content;
  }
  .startBTN {
    width: fit-content;
    font-size: 5em;
    padding: .5em 1em;
    height: fit-content;
  }
  .btns-wrapper {
    margin-top: 2em;
    flex-direction: column;
    gap: 1em;
  }
  fieldset strong {
    font-size: 2.5em;
  }
  .action-btns {
    gap: 16px;
  }
}

@media screen and (min-device-width: 481px) and (max-device-width: 762px) {
  .player {
    width: 150px;
    height: 150px;
  }
  .hitSpot {
    width: 150px;
    height: 150px;
  }
  .hammerContainer {
    max-height: 800px;
    min-height: 500px;
  }
   button {
    width: 200px;
    font-size: 1.8em;
    padding: .5em 1em;
    height: fit-content;
  }
  .startBTN {
    width: fit-content;
    font-size: 4em;
    padding: .5em 1em;
    height: fit-content;
  }
  .btns-wrapper {
    margin-top: 2em;
    flex-direction: column;
    gap: 1em;
  }
  fieldset strong {
    font-size: 2.5em;
  }
  .action-btns {
    gap: 16px;
  }
}
